<div class="js_menu_container" id="mobile-menu">
  <a class="header_link_auth_mobile" href="">
    <div class="thumb_photo_mobile"></div>
    <span class="name_user_mobile">Stephan</span>
  </a>
  <div class="thumb_link_mobile">
    <a
      class="header_link_home_mobile header_link_mobile page js-close-menu"
      href="./index.html"
      >Home</a
    >
    <a
      class="header_link_shopping_mobile header_link_mobile current_page js-close-menu"
      href="./shoppingList.html"
      >Shopping list</a
    >
  </div>
  <div class="img_bcg_rotate"></div>
</div>
