<div class="backdrop is-hidden data_modal">
  <div class="modal">
    <button class="modal__btn_close data_modal_close"></button>
    <div class="container_flex">
      <div class="thumb_modal_img"></div>
      <div class="modal_book_desc">
        <h2 class="modal_title"></h2>
        <h3 class="modal_subtitle subtitle"></h3>
        <p class="modal_description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio
          voluptatem corporis velit reprehenderit nisi, similique a. Mollitia
          placeat modi recusandae explicabo sit minus doloremque quo vitae
          error, laboriosam id nostrum.
        </p>
        <div class="thumb_icons"></div>
      </div>
    </div>
    <button type="button" class="btn btn_modal js_btn_add">
      Add to shopping list
    </button>
    <button type="button" class="btn btn_modal js_btn_remove">
      remove from the shopping list
    </button>
    <p class="modal_text_remove js_modal_text_remove">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
